@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'works sans' , sans-serif;
}


#branding {
    font-size: 2em;
    padding: .2em 0;
    margin-right: 17em;
    margin-left: 12em;


}

.nav-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.nav-item {
    display:inline-block;
    margin: 5px;
    }

.nav{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-basis: 100%;
    align-items: center;

}

.top-nav {
    background: darkgrey;
    position: fixed;
    width: 100%;
}

.nav-link:hover {
    color: blue;
}