

@media (min-width: 992px) {
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contact li {
        padding: 2em 3em 1em 3em;
    }

    .container h5 {
        color: black;
    }

    .container2 h5 {
        color: black;
    }
.jumbotron {
    padding:2em 0  0  0;
}
}


.container h5 {
    color: black;
}

.container2 h5 {
    color: black;
}

